body{
    margin: 0;
    background: darkgrey;
    overflow: hidden;
    text-align: center;
}

#controls{
    position: absolute;
    background-color: darkgrey;
}

#carCanvas {
    background: lightgrey;
}
#networkCanvas {
    background: black;
}